<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Test</title>
</head>
<body>
  <h1>파일 업로드</h1>
  <form action="upload-file" method="post" enctype="multipart/form-data">
    <input type="file" id="images" name="file" accept="image/*" multiple>
    <br/>
    <br/>
    <button>등록</button>
  </form>
	  <div id="multiple-file-preview">
	    <ul id="sortable">
	      <li data-th-each="file : ${fileList}">[[${file.fileRealName}]]<br/>
	        <img data-th-src="@{'/test/files/' + ${file.fileName}}">
			    <input type="hidden" value="${file.no}" name="file-no">
	        <br/>
	        <button type="button" onclick="fileDelete(this.input)">삭제</button>
	      </li>
	    </ul>
	  </div>

</body>

<script>

function fileDelete(no) {
    console.log(no);
    console.log(no.no.value);
    no.action='delete-file';
    no.submit();
  }

</script>


</html>