<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Test</title>
</head>
<body>
  <h1>파일 업로드</h1>
  <form action="upload-file" method="post" enctype="multipart/form-data">
    <input type="file" id="images" name="file" accept="image/*" multiple>
    <br/>
    <br/>
    <button>등록</button>
  </form>
	  <div id="multiple-file-preview">
	    <ul id="sortable">
	      <li data-th-each="file : ${fileList}">[[${file.fileRealName}]]
	        <input type="checkbox" name="file-check">
	        <button type="button" data-th-onclick="'fileDelete(' + ${file.no} + ')'">삭제</button><br/>
	        <img data-th-src="@{'/test/files/' + ${file.fileName} + '.' + ${file.fileExt}}">
	      </li>
	    </ul>
	  </div>

</body>

<script>

function fileDelete(no) {
    console.log(no);
    console.log(document);
    
    var form = document.createElement('form');
    form.setAttribute('method','post');
    form.setAttribute('action','delete-file');
    
    var input = document.createElement('input');
    input.setAttribute('type','hidden');
    input.setAttribute('name', 'no');
    input.setAttribute('value', no);
    
    form.appendChild(input);
    document.body.appendChild(form);
    form.submit();
  }
  

</script>


</html>