<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Test</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
  <h1>이것은 연습용</h1>
  <div class="row">
	  <div class="col-md-3" style="float:left;" data-th-each="profile : ${list}">
	  <form action="edit" method="post">
	  <input type="hidden" name="no" data-th-value="${profile.no}">
		  <table border=1>
		    <tr>
		      <th>구분</th>
		      <th></th>
		    </tr>
		    <tr>
		      <td>이름</td>
		      <td><input type="text" name="name" data-th-value="${profile.name}"></td>
		    </tr>
		    <tr>
		      <td>생년월일</td>
		      <td><input type="text" name="bday" data-th-value="${profile.bday}"></td>
		    </tr>
		    <tr>
		      <td>성별</td>
		      <td><input type="text" name="gender" data-th-value="${profile.gender}"></td>
		    </tr>
		    <tr>
		      <td>연락처</td>
		      <td><input type="text" name="tel" data-th-value="${profile.tel}"></td>
		    </tr>
		    <tr>
		      <td>주소</td>
		      <td><input type="text" name="addr" data-th-value="${profile.addr}"></td>
		    </tr>
		    <tr>
		      <td>주소</td>
		      <td><input type="text" name="addr" data-th-value="${profile.addr}"></td>
		    </tr>
		  </table>
      <button type="button" onclick="update(this.form)">수정</button>
      <button type="button" onclick="remove(this.form)">삭제</button>
      </form>
	  </div>
  </div>
  <br/><br/><br/>
  <div>
	  <form action="insert" method="post">
	    <div>이름 :
	      <input type="text" placeholder="이름" name="name">
	    </div>
	    <div>생년월일 :
	      <input type="date" placeholder="생년월일" name="bday">
	    </div>
	    <div>성별 :
	      <input type="text" placeholder="성별" name="gender">
	    </div>
	    <div>연락처 :
	      <input type="text" placeholder="연락처" name="tel">
	    </div>
	    <div>주소 :
	      <input type="text" placeholder="시/도" name="addr">
	    </div>
	    <br/>
		  <button>등록</button>
	  </form>
	  <a href="file">파일업로드</a>
  </div>
  
  <div style="background-color: black" id="colorArea">
    <button name="button" type="button" id="changeBtn" onclick="changeColor();">배경색 바꾸기</button>
  </div>
  <select id="colorChoice" onchange="choice();">
    <option value="pink">핑크</option>
    <option value="red">레드</option>
    <option value="orange">오렌지</option>
    <option value="yellow">옐로우</option>
  </select>
  
  <input type="hidden" id="hiddenId" value="1">
  <button type="button" id="callBtn">call</button>
</body>


<script>
  function update(no) {
	  console.log(no);
	  console.log(no.no.value);
	  no.submit();
	  
  }
  
  function remove(no) {
	  console.log(no);
	  console.log(no.no.value);
	  no.action='remove'; 
	  no.submit();
  }
  
  var rainbow = ['red','orange','yellow','green','blue','navy','purple','pink','grey']
  var index = 0;
  
  /*function changeColor() {
	  var color = document.getElementById('colorArea');
	  
	  color.style.backgroundColor = rainbow[index];
	  index++
	  if (index > rainbow.length-1) {
		  index = 0;
	  }
	  console.log(color);
  } */
  
  $('#changeBtn').click(function() {
	  $('#colorArea').css('background-color',rainbow[index]);
	    index++
	    if (index > rainbow.length-1) {
	      index = 0;
	    }	  
	  console.log($('#colorArea'));
  });
  
	  var colorArea = document.getElementById('colorArea');
	  var color = document.getElementById('colorChoice');
  /* function choice() {
	  
	  for(var i = 0; i < color.options.length; i++) {
	   if (color.options[i].selected) {
		   colorArea.style.backgroundColor = color.options[i].value;
	   }
	  }
	  
  } */
  
  $('#colorChoice').change(function() {
	  var selected = $(this).is('select');
	  console.log(seleted);
	  if(selected) {
		  $('#colorArea').css('background-color',$(this).val());
	  }
  });
  
  $('#callBtn').on('click', function() {
	  var no = $('#hiddenId').val();
	  console.log(no);
		  $.ajax({
		      url : '/app/data/call',
		      type : "get",
		      data : {'no' : no},
		      dataType : 'json',
		      success : function(result) { 
		        if(result == 1) {
		        	alert("ok");
		        } else {
		        	  alert("no")
		        }
		      }
		    })
  })
  

</script>




</html>


