<!DOCTYPE html>
<head>
<meta charset="UTF-8"></meta>
<title>Test</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<style>
	#hoho {
		background-color: blue;
		color: white;
		width: 200px;
		height: 200px;
		position:absolute;
	}
	
	#position {
		position: relative;
	}
</style>
</head>
<body>
  <h1 id="fd">이것은 연습용</h1>
  <div class="row">
	  <div class="col-md-3" style="float:left;" data-th-each="profile : ${list}">
	  <form action="edit" method="post" id="one">
		<input type="checkbox" id="box" onclick="checkbox();">
	  <input type="hidden" name="no" id="no" data-th-value="${profile.no}">
		  <table border=1>
		    <tr>
		      <th>구분</th>
		      <th></th>
		    </tr>
		    <tr>
		      <td>이름</td>
		      <td><input type="text" name="name" data-th-value="${profile.name}"></td>
		    </tr>
		    <tr>
		      <td>생년월일</td>
		      <td><input type="text" name="bday" data-th-value="${profile.bday}"></td>
		    </tr>
		    <tr>
		      <td>성별</td>
		      <td><input type="text" name="gender" data-th-value="${profile.gender}"></td>
		    </tr>
		    <tr>
		      <td>연락처</td>
		      <td><input type="text" name="tel" data-th-value="${profile.tel}" id="tel"></td>
		    </tr>
		    <tr>
		      <td>주소</td>
		      <td><input type="text" name="addr" data-th-value="${profile.addr}"></td>
		    </tr>
		  </table>
      <button type="button" onclick="update(this.form)">수정</button>
      <button type="button" onclick="remove(this.form)">삭제</button>
      </form>
	  </div>
  </div>
  <br/><br/><br/>
  <div>
	  <form action="insert" method="post" id="two">
	    <div>이름 :
	      <input type="text" placeholder="이름" name="name">
	    </div>
	    <div>생년월일 :
	      <input type="date" placeholder="생년월일" name="bday">
	    </div>
	    <div>성별 :
	      <input type="text" placeholder="성별" name="gender">
	    </div>
	    <div>연락처 :
	      <input type="text" placeholder="연락처" name="tel">
	    </div>
	    <div>주소 :
	      <input type="text" placeholder="시/도" name="addr" value="5555" id="addr">
	    </div>
	    <br/>
		  <button>등록</button>
	  </form>
	  <a href="file">파일업로드</a>
  </div>
  
  <div id="colorArea">
    <button name="button" type="button" id="changeBtn" onclick="changeColor();">배경색 바꾸기</button>
  </div>
  <select id="colorChoice" onchange="choice();">
    <option value="pink">핑크</option>
    <option value="red">레드</option>
    <option value="orange">오렌지</option>
    <option value="yellow">옐로우</option>
  </select>
  
  <input type="hidden" id="hiddenId" value="1">
  <button type="button" id="callBtn">call</button>

	<br>
	<button type="button" onclick="increament1();">1 붙이기</button>
	<br>
	<button type="button" onclick="increament4444();">4444 추가</button>
	<br>
	<button type="button" onclick="change();">012345</button>
	<br>
	<button type="button" onclick="sizeUp();">사이즈업</button>
	<br>
	<input type="text" id="contents">
	<button type="button">버튼</button>
	<textarea id="showContents"></textarea>
	<div id="position">
		<div id="hoho">
	    1111
		</div>
  <button type="button"> 이동하기 </button>
  </div>

</body>

<script>
  function update(no) {
	  console.log(no);
	  console.log(no.no.value);
	  no.submit();
	  
  }
  
  function remove(no) {
	  console.log(no);
	  console.log(no.no.value);
	  no.action='remove'; 
	  no.submit();
  }
  
  var rainbow = ['red','orange','yellow','green','blue','navy','purple','pink','grey']
  var index = 0;
  
  /*function changeColor() {
	  var color = document.getElementById('colorArea');
	  
	  color.style.backgroundColor = rainbow[index];
	  index++
	  if (index > rainbow.length-1) {
		  index = 0;
	  }
	  console.log(color);
  } */
  
  $('#changeBtn').click(function() {
	  $('#colorArea').css('background-color',rainbow[index]);
	    index++
	    if (index > rainbow.length-1) {
	      index = 0;
	    }	  
	  console.log($('#colorArea'));
  });
  
	  var colorArea = document.getElementById('colorArea');
	  var color = document.getElementById('colorChoice');
  /* function choice() {
	  
	  for(var i = 0; i < color.options.length; i++) {
	   if (color.options[i].selected) {
		   colorArea.style.backgroundColor = color.options[i].value;
	   }
	  }
	  
  } */
  
  $('#colorChoice').change(function() {
	  var selected = $(this).is('select');
	  console.log(seleted);
	  if(selected) {
		  $('#colorArea').css('background-color',$(this).val());
	  }
  });
  
  $('#callBtn').on('click', function() {
	  var no = $('#hiddenId').val();
	  console.log(no);
		  $.ajax({
		      url : '/app/data/call',
		      type : "get",
		      data : {'no' : no},
		      dataType : 'json',
		      success : function(result) { 
		        if(result == 1) {
		        	alert("ok");
		        } else {
		        	  alert("no")
		        }
		      }
		    })
  })
  
  function selecter() {
	  var form = document.getElementsByTagName('form');
// 	  form[0].name = 'one';
// 	  form[1].name = 'two';
    form[0].setAttribute('name', 'one');
    form[1].setAttribute('name', 'two');
    
    var form1 = document.getElementById('one');
		var form2 = document.getElementById('two');

	  console.log(form);
		console.log(form1);
		console.log(form2);

		var input = form1.getElementsByTagName('input');
		console.log(input);

		console.log(form1.name.value);
		form1.name.value = '222';

  }
  
  selecter();

	// 기존 값 불러오기
	// 기존 값에 1을 붙이기
	// 결과 값을 기존 값에 할당하기
	function increament1() {
		var tel = document.getElementById('tel');
		console.log(tel);
		console.log(tel.value);
		var original = tel.value;

		original += '1';

		tel.value = original;
	}

	// 기존 값 불러오기
	// 기존 값에 4444 붙이기
	// 결과 값을 기존 값에 할당하기
	function increament4444() {
		var addr = document.getElementById('addr');
		console.log(addr.value);
		var originAddr = addr.value;

		originAddr += '4444';

		addr.value = originAddr;

	}

	// 기존 값 불러오기
	// 기존 값 변경하기
	// 변경 값 할당하기
	function change() {
		var id = document.getElementById('one');
		console.log(id);
		var idValue = id.getElementsByTagName('input');
		console.log(idValue);

		for (var i = 0; i < idValue.length; i++) {
			idValue[i].value = i;
			console.log(idValue[i].value);
		}

	}

	// // 기존 폰트 사이즈 불러오기
	// // 크기 조정하기
	// // 출력
	// function sizeUp() {
	// 	var h1 = document.getElementById('fd');
	// 	console.log(h1);
	// 	console.log(h1.style.fontSize);
	// 	h1.style.fontSize += '11px';
	// }

	// 체크가 되면 히든이 보이고 안되면 안보이기
	function checkbox() {
		var cb = document.getElementById('box');
		console.log(cb);
		var no = document.getElementById('no');
		no.setAttribute('type', 'text');
		if(cb.checked) {
			no.style.display = 'block';
		} else {
			no.style.display = 'none';
		}
	}

	const contents = document.getElementById('contents');
	contents.addEventListener ('keyup', logKey);
	function logKey (e) {
		if(e.keyCode === 13) {
			e.preventDefault();
			var sc = document.getElementById('showContents');
			sc.value += contents.value + '\n';
			contents.value = '';
			console.log(sc.value);
			$.ajax({
		      url : '/app/data/call',
		      type : "get",
		      data : {'text' : sc.value},
		      dataType : 'json',
		      success : function(result) { 
		        if(result == 1) {
		        	alert("ok");
		        } else {
		        	  alert("no")
		        }
		      }
		    })
		}
	}

	
	var scroll = document.getElementById('hoho');
	scroll.addEventListener('wheel', function(e) {		
		var element1 = document.querySelector('#hoho');
		var elementLeft = window.pageXOffset + element1.getBoundingClientRect().left;
		
		var currentX = Math.floor(elementLeft);
		
			if (e.wheelDelta > 0) {
				currentX += 10;
				console.log(currentX + "scroll up");
			} else {
				currentX -= 10;
				console.log(currentX + "scroll down");
			};
		
		scroll.style.left = currentX + "px";
		
	});
</script>




</html>


