<!--          <div id="partyList" class="row row_party">
                  <div class="col-md-6 col-md-6_party_wrap">
                     <div class="container_main_party">
                     <a id="detailLink1" href="@{detail(no=${party.no})}">
                     <img id="detailThumbnail" src="@{'/party/files/' + ${party.thumbnail}}" alt="모임썸네일" class="list_image">
                        <div class="overlay">
                           <a th:href="@{detail(no=${party.no})}" class="icon" title="User Profile">
                           <i class="fa fa-search"></i>
                           </a>
                        </div>
                        </a>
                     </div>
                      <a th:href="@{detail(no=${party.no})}">
                     <h3 id="detailTitle" class="temper_text_party" th:text="${party.title == ''} ? '(제목없음)' : ${party.title}">
                     </h3>
                     </a>
                     
                     <div class="container_main_party">
                       <p class="dololr_text_region" th:text="${party.region.sido}"></p>
                       <p class="dololr_text_region" th:text="${party.region.sigu}"></p>
                       <p class="dololr_text_sports" th:text="${party.sports.name}"></p>
                     </div>
                     <span class="dololr_text_party" th:text="${party.star}"></span>
                     <div class="container_main_party">
                       <p class="dololr_text_datetime" th:text="${party.partyTime}"></p>
                       <p class="dololr_text_datetime" th:text="${party.partyDate}"></p>
                     </div>
                  </div>
               </div>
                -->
                <div>
                  <p id="listResultTest">test</p>
                </div>