<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- mobile metas -->
        <!-- site metas -->
        <title>여기모여</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- bootstrap css -->
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <!-- Responsive-->
        <!-- fevicon -->
        <link rel="icon" href="../images/fevicon.png" type="image/gif" />
        <!-- Scrollbar Custom CSS -->
        <!-- Tweaks for older IEs-->
        <!-- owl stylesheets -->
        <link rel="stylesheet" href="../css/owl.carousel.min.css">
        <link rel="stylesheet" href="../css/owl.theme.default.min.css">
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">
    </head>
    <style>
		.page_center {
       display : flex;
       margin : auto;
       /* width: 42px; */
   	}
    .pagination {
			margin: 20px;
    }
    </style>
        <body>
          <!-- header section start -->
          <div class="header_section">
            <div class="container-fluid">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="main_logo"><a href="/app"><img src="../images/logo.png"></a></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="../party/list">운동하기</a></li>
                    <li class="nav-item"><a class="nav-link" href="../board/main">커뮤니티</a></li>
                    <li class="nav-item"><a class="nav-link" href="../notice/list">공지사항</a></li>
                  </ul>
                  <div class="search_icon">
                    <ul>
                      <li data-th-if="${session.loginMember == null}"><a href="../auth/form" >로그인</a></li>
                      <li data-th-if="${session.loginMember != null}"><a href="../mypage/my-post">마이페이지</a></li>
                      <li data-th-if="${session.loginMember != null}"><a href="../auth/logout" data-th-text="${session.loginMember.name} + '(로그아웃)'">동동(로그아웃)</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <!-- header section end -->
          <!-- contact section start -->
          <div class="contact_section layout_padding">
            <div class= info>
              <ul class="infoMenu">
                <li class= "menu"><a href="../mypage/my-post" ><span>나의 활동</span></a></li>
                <li class= "menu"><a href="../mypage/my-party"><span class="menu-on">모임 관리</span></a></li>
                <li class= "menu"><a href="../member/viewer"><span>회원 정보 변경</span></a></li>
              </ul>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-10">
                  <div class="mail_sectin">
										<div class="sort_area">
											<a href="my-party" class="link_sort on">내가 만든 모임</a>
											<a href="join-party" class="link_sort">참여 중인 모임</a>
											<a href="end-party" class="link_sort">종료된 모임</a>
									</div>
									<table class="my-page">
										<colgroup>
											<col>
											<col style="width: 120px;">
											<col style="width: 80px;">
										</colgroup>
										<thead>
											<tr>
												<!-- <th scope="col" width="5"></th> -->
                        <th id="noSort">번호</th>
                        <th >시도</th>
                        <th >시군구</th>
                        <th >운동</th>
                        <th id="titleSort" data-type="" data-th-data-type="${titleSort}">제목</th>
                        <th>모임일자</th>
                        <th>모임시간</th>
                        <th>명단관리</th>
											</tr>
										</thead>
										<tbody>
											<tr data-th-each="myParty , i : ${myPartys}" >
											   <td>
                            <div class="FormInputCheck">
															<label data-th-for="'check_article_' + ${myParty.no}" class="label">
															 <span class="blind">[[${i.count} + (((${pageMaker.cri.page}) - 1) * ${pageMaker.cri.perPageNum})]]</span>
															</label>
                          </div>
                        </td>
                        <td class="td_date">[[${myParty.region.sido}]]</td>
                        <td class="td_date">[[${myParty.region.sigu}]]</td>
                        <td class="td_date">[[${myParty.sports.name}]]</td>
                        <td class="title-td">
                          <div class="board-list">
                            <div class="inner_list">
															<a data-th-href="@{my-party-detail(no=${myParty.no})}" class="article" >[[${myParty.title}]]</a> <!-- 속성 우선 뺌 target="_blank" -->
                            </div>
                          </div>
                        </td>
                        <td class="td_date">[[${myParty.partyDate}]]</td>
                        <td class="td_date">[[${myParty.partyTime}]]</td>
                        <td><a type="button" class="reviewFormBtn" data-th-href="@{my-party-detail(no=${myParty.no})}" >관리하기</a></td> 
                      </tr>
										</tbody>
									</table>
                  <!-- 페이징 버튼 시작 -->
                  <nav aria-label="Page navigation">
                    <ul class="pagination">
                      <div class="page_center">
                        <li class="page-item" th:if="${pageMaker.prev}">
                          <a class="page-link" th:href="@{my-party(page=${pageMaker.startPage-1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <th:block data-th-if="${pageNum} != 0" th:each="pageNum: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                          <li data-th-id="${'pageButton' + pageNum}" class="page-item">
                            <a class="page-link" th:href="@{my-party(page=${pageNum})}"><i th:text="${pageNum}"></i></a>
                        </li>
                        </th:block>
                        <li class="page-item" th:if="${pageMaker.next && pageMaker.endPage >0}">
                          <a class="page-link" th:href="@{my-party(page=${pageMaker.endPage+1})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </div>
                    </ul>
                  </nav>
                  <!-- 페이징 버튼 끝 -->
								</div>
              </div>
            </div>
          </div>
          </div>
          <!-- contact section end -->
          <!-- copyright section start -->
          <div class="copyright_section">
            <div class="container">
              <div class="social_icon">
                <ul>
                  <li><a href="#"><img src="../images/fb-icon.png"></a></li>
                  <li><a href="#"><img src="../images/twitter-icon.png"></a></li>
                  <li><a href="#"><img src="../images/instagram-icon.png"></a></li>
                  <li><a href="#"><img src="../images/linkedin-icon.png"></a></li>
                </ul>
              </div>
               <p class="copyright_text"><a>2022 All Rights Reserved. Design by comehere</a></p>
            </div>
            </div>
            <!-- copyright section end -->
            
            <script type="text/javascript">
            window.addEventListener('DOMContentLoaded', function(){
                var param = 1; 
                if (window.location.search.match(/page=([^&]*)/) != null) {
                  param = window.location.search.match(/page=([^&]*)/)[1];
                } 
                $('#pageButton' + param).addClass('active');
              });
            </script>
            
            <!-- Javascript files-->
            <!-- sidebar -->
            <!-- javascript -->
            <script>
            
            </script>
        </body>

</html>
