/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
font-family: "Righteous";
src: url("../fonts/BalooChettan-Regular.ttf");
src: url("../fonts/BalooChettan-Regular.ttf");
}
/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family:Poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
     max-width:1280px !important;
     min-width:1280px !important;
     margin: auto !important;
     float: none !important;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 0px;
}

.padding_0 {
  padding: 0px;
}

.header_section {
  width: 1200px;
  float: left;
  background: url(../images/);
  height: auto;
  background-size: 100%;
  min-width: 1130px !important;
  margin: auto !important;
  float: none !important;
}

.bg-light {
  background-color: transparent !important;
}

.main_logo {
    max-width: 140px;
    height: auto;
    margin: 20px 50px 20px 30px;
}
.navbar-light .navbar-nav .nav-link {
    color: #111111;
    font-size: 18px;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #0d6efd;
}

.login-bt{
   width: 18%;
    float: left;
}
.login-bt ul{
    display: table;
    list-style: none;
    text-align: center;
    padding: 0px;
    margin-left: 30px;
}
.login-bt li {
    float:left; 
    font-size: 15px
}
.login-bt li a{
    color: #000;
}
.login-bt li a:hover{
    color: #0d6efd;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-item {
    position: relative;
}

.navbar-nav.mr-auto ul {
    margin: 0px;
    padding: 0px;
}

.mb-lg-0, .my-lg-0 {
    margin-bottom: 0!important;
    width: 25%;
    float: left;
}
.banner_section {
    width: 1280px;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: auto;
    padding-bottom: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.there_text {
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    color: #090808;
    text-align: center;
}
.contact_bt_main{
    width: 17%;
    margin: 0 auto;
    text-align: center;
}

.fa-angle-right:before {
    content: "\f105";
}
.fa-angle-left:before {
    content: "\f105";
}

#costum_slider a.carousel-control-next {
    position: absolute;
    right: -150px;
    top: 57%;
}
.many_taital{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #090808;
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
}
.dummy_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #090808;
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
}

.read_bt_main{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    width: 42%;
    opacity: 0;
    transition: .3s ease;
    background-color: #0d6efd;
    margin: 0 auto;
    border-radius: 100px;
    top: 55px;
}

.container_main:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}
.get_bt_main{
    width: 13%;
    margin: 0 auto;
    text-align: center;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99999;
}

.container_main1:hover .image {
  opacity: 0.3;
}

.container_main1:hover .middle {
  opacity: 1;
}

.text {
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #fff;
}
.image_7{
    width: 100%;
    float: left;
}

.contact_section {
    width: 1280px;
    float: left;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 90px;
}

.email-bt,.phoneNumber {
    color: #989696;
    width: 440px;
    height: 40px;
    font-size: 17px;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #989696;
    border-radius: 5px;
}
input.email-bt::placeholder {
    color: #989696;
}
.massage-bt {
    color: #989696;
    width: 100%;
    height: 150px;
    font-size: 18px;
    padding: 50px 20px 10px 20px;
    margin-top: 25px;
    border: 0px;
    border-radius: 5px;
}
textarea#comment::placeholder {
    color: #989696;
}
.send_bt {
    float: left;
    margin-top: 50px;
    margin: 40p;
    margin-left: 180px;
}
.send_bt button{
    width: 130px;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    border: 2px solid #ffffff;
    background-color: #0d6efd;
    padding: 10px 0px;
    font-weight: bold;
    border-radius: 7px;
}
.send_bt a{
    width: 30%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    border: 2px solid #ffffff;
    background-color: #fff0;
    padding: 10px 0px;
    font-weight: bold;
}
.send_bt button:hover{
    color: #0d6efd;
    background-color: #ffffff;
}
.delete_bt {
  width: 100%;
  float: left;
  margin-top: 50px;
}
.delete_bt button {
    width: 13%;
    float: right;
    font-size: 13px;
    color: darkgrey;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px 0px;
    margin-right: 60px;
    background-color: #ffffff00;
}
.delete_bt button:hover{
    color: blue;
    background-color: #ffffff00;
}
.image_9 {
    width: 100%;
    float: left;
    padding-top: 83px;
}
.input-group {
    width: 45%;
    float: right;
}

.form-control {
    display: block;
    padding: 0px 15px 10px 0px;
    font-size: 18px;
    color: #fff;
    background-color: transparent;
    border-bottom: 1px solid #fff !important;
    border-radius: 0px;
    border: 0px;
}
.input-group-text {
    padding: 0px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
}
.input-group-text a{
    color: #ffffff;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0px;
    background: transparent !important;
    border-bottom: 1px solid #ffff;
}

.footer_section{
    width: 100%;
    float: left;
    background-color: #313131;
    height: auto;
    padding-bottom: 90px;
}
.fooer_logo {
    width: 100%;
    float: left;
    padding-bottom: 40px;
}
.customer_text{
    width: 100%;
    float: left;
    font-size: 24px;
/*     color: #ffffff; */
    text-transform: uppercase;
}

.footer_lorem_text{
    width: 80%;
    float: left;
    font-size: 16px;
    color: #fefefe;
    margin-left: 0px;
}
.footer_lorem_text1{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefe;
    margin-left: 0px;
}
.social_icon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}
.social_icon ul{
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}
.social_icon li{
    float: left;
    padding-right: 5px;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
    margin-top: 100px;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #000;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
}
.copyright_text a{
    color: #000;
}
.copyright_text a:hover{
    color: #0d6efd;
}

/* 은지 수정 css */
.contact_section1 {
  width: 100%;
  float: left;
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 90px;
}
.contact_text {
  width: 100%;
  margin: 20px;
  float: center;
  font-size: 36px;
  color: #313131;
}
.pwd-checkbox {
  width: 500px;
  color: #989696;
  font-size: 18px;
  padding: 20px;
  margin-top: 25px;
  border: 2px solid gray;
  border-radius: 5px;
}
.small-area {
  width: 330px;
}
.small-area2 {
  width: 300px; 
}

.favorite-choice {
  color: #989696;
  width: 210px; 
  height : 40px; 
  font-size : 18px;
  padding-left: 15px;
  margin-top: 10px;
  margin-right: 15px;
  border: 1px solid #989696;
  border-radius: 5px; 
}
.favorite-choice#favoriteRegion2,#favoriteSports2 {
  margin-right:0px
}
.infoMenu {
  display: table;
  list-style: none;
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
  width: auto;
}
.gender {
  font-size:16px;
}
.gender-bt {
  width: 30px;
  height: 20px;
  margin-top: 20px;
}
.join_menu {
  font-size: 18px;
  margin-top: 10px;
}
.join_gender {
  margin-left: 15px;
}
.input-group {
  width: 90%;
  float: left;
}

.send_bt a {
  color: white;
  border-radius: 7px;
  border: 2px solid #000000;
}

.custom-email {
  color: #989696;
  width: 157px;
  height: 55px;
  font-size: 18px;
  padding: 13px;
  margin-top: 30px;
  border: 0px;
  border-radius: 5px;
  height: 55px;
  font-size: 18px;
}

.custom-email-bt {
  color: #989696;
  width: 100%;
  height: 55px;
  font-size: 18px;
  padding: 20px;
  margin-top: 25px;
  border: 0px;
  border-radius: 5px;
}
.btn-outline-secondary.check {
    margin-top: 0px;
    margin-bottom: 3px;
}
.btn-outline-secondary {
  margin-top: 10px;
  color: #0d6efd;
  background-color: #ffffff00;
  border: 1px solid grey;
}
.btn-outline-secondary:hover {
  color:#ffffff;
  background-color: #0d6efd;
  transition:all .3s ease;
}
.reviewFormBtn {
  color: #0d6efd;
  background-color: #ffffff00;
  border-radius: 3px;
  border: 1px solid grey;
}
a.reviewFormBtn {
  color: #0d6efd;
  background-color: #ffffff00;
  border-radius: 3px;
  border: 1px solid grey;
  padding: 0px 5px;
}
.reviewFormBtn:hover {
  color:#ffffff;
  background-color: #0d6efd;
  transition:all .3s ease;
  cursor: pointer;
}
.reviewFormBtnDisabled {
  color: #989696;
  background-color: #ffffff00;
  border-radius: 3px;
  border: 1px solid grey;
}
.menu {
  float: left;
  margin: 10px 30px 50px;
}
.menu:hover {
  color:#0d6efd;
  transition:all .3s ease;
  }
.menu > a {
  position:relative;
}

.menu > a::after {
  content: '';
  width: 0%;
  left: 50%;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #0d6efd;
  transition:all .3s ease;
}
.menu:hover > a::after {
  content: '';
  width: 100%;
  left: 0px;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #0d6efd;
  transition:all .3s ease;
}
.menu-on {
  color:#0d6efd;
  transition:all .3s ease;
  border-bottom: thick 2px solid #0d6efd;
}

.link_sort.on {
  position: relative;
  padding-bottom: 5px;
  color: #0d6efd;
  font-weight: 700;
}

.link_sort {
  font-size: 15px;
  margin: 0px 80px 0px;
}
.sort_area {
  width: 890px;
  margin-bottom: 60px;
  text-align: center;
}
#imagePreview {
  margin: 150px 0px 0px 0px;
  position: absolute;
  left: 400px;
  top: 0px;
}
#previewImg {
  object-fit: cover;
  width: 130px;
  height: 130px;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 2px solid #dedede;
  overflow: hidden;
}
.image_inputType_file {
  position: absolute;
}
#btn-upload.btn {
    position: absolute;
    right: 30px;
    top: 150px;
}
#email-bt {
  position: relative;
}
list-style {
  padding: 29px 0 18px;
}

.list-style {
  padding: 6px 0 10px;
}
.my-page {
  background-color: white;
  min-width: 800px;
  max-width: 800px;
}
.my-page tr {
  text-align:center;
  padding: 5px;
}
.my-page tr .title-td {
  text-align:left;
}
.my-page th {
  border-top:1px solid rgb(0 0 0 / 20%);
  border-bottom:2px solid rgb(0 0 0 / 20%);
  padding: 10px;
}
.my-page td {
  font-size: 14px;
  border-bottom:1px solid rgb(0 0 0 / 20%);
  padding: 5px 0px;
}
.imgimg {
  max-width: 150px;
  max-height: 170px;
  min-width: 150px;
  min-height: 170px;
  line-height: 170px;
}
.imgimg img {
  vertical-align:middle;
}
.join_menu.black {
  width: 300px;
}
.row {
  width: 970px;
  margin: 0 auto;
}
.container-detail {
  width: 960px;
  margin: auto;
}
.profile {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.feedback {
  height: 10px;
}
.feedback font {
  font-size: 14px;
}
.container {
  min-width: 1130px;
}
.pagination {
  margin: 20px;
  min-width: 890px;
  max-width: 890px;
}
.page_center {
  display: flex;
  margin: 0 auto;
}
.main_logo img{
  width: 113.797px
}