<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <th:block th:fragment="partyList" th:each="party : ${partys}">
    <div class="col-md-6 col-md-6_party_wrap">
      <div class="container_main_party">
        <a th:href="@{detail(no=${party.no})}">
        <img th:if="${party.thumbnail != null}"  th:src="@{'/party/files/' + ${party.thumbnail}}" alt="모임썸네일" class="list_image">
        <img th:if="${party.thumbnail == null}"  src="/app/party/files/nothumpnail.jpg" alt="Avatar" class="list_image">
        <div class="overlay">
          <a th:href="@{detail(no=${party.no})}" class="icon" title="User Profile">
          <i class="fa fa-search"></i>
          </a>
        </div>
        </a>
      </div>
      <a th:href="@{detail(no=${party.no})}">
      <h3 class="temper_text_party" th:text="${party.title == ''} ? '(제목없음)' : ${party.title}">
      </h3>
      </a>
      <div class="container_main_party">
        <p class="dololr_text_region" th:text="${party.region.sido}"></p>
        <p class="dololr_text_region" th:text="${party.region.sigu}"></p>
        <p class="dololr_text_sports" th:text="${party.sports.name}"></p>
      </div>
            <span data-th-if="${party.star} == 0 and ${party.star} < 0.5"><span class="dololr_text_party" th:value="${party.star}" th:text="${party.star}"></span>
            <img src="/app/review/star/star0.png" style="width:116.312; height:23px;" class="dololr_text_party_star"></span>
            <span data-th-if="${party.star} >= 0.5 and ${party.star} < 1"><span class="dololr_text_party" th:value="${party.star}" th:text="${party.star}"></span>
            <img src="/app/review/star/star05.png" style="width:116.312; height:23px;" class="dololr_text_party_star"></span>
            <span data-th-if="${party.star} >= 1 and ${party.star} < 1.5"><span class="dololr_text_party" th:value="${party.star}" th:text="${party.star}"></span>
            <img src="/app/review/star/star10.png" style="width:116.312; height:23px;" class="dololr_text_party_star"></span>
            <span data-th-if="${party.star} >= 1.5 and ${party.star} < 2"><span class="dololr_text_party" th:value="${party.star}" th:text="${party.star}"></span>
            <img src="/app/review/star/star15.png" style="width:116.312; height:23px;" class="dololr_text_party_star"></span>
            <span data-th-if="${party.star} >= 2 and ${party.star} < 2.5"><span class="dololr_text_party" th:value="${party.star}" th:text="${party.star}"></span>
            <img src="/app/review/star/star20.png" style="width:116.312; height:23px;" class="dololr_text_party_star"></span>
            <span data-th-if="${party.star} >= 2.5 and ${party.star} < 3"><span class="dololr_text_party" th:value="${party.star}" th:text="${party.star}"></span>
            <img src="/app/review/star/star25.png" style="width:116.312; height:23px;" class="dololr_text_party_star"></span>
            <span data-th-if="${party.star} >= 3 and ${party.star} < 3.5"><span class="dololr_text_party" th:value="${party.star}" th:text="${party.star}"></span>
            <img src="/app/review/star/star30.png" style="width:116.312; height:23px;" class="dololr_text_party_star"></span>
            <span data-th-if="${party.star} >= 3.5 and ${party.star} < 4"><span class="dololr_text_party" th:value="${party.star}" th:text="${party.star}"></span>
            <img src="/app/review/star/star35.png" style="width:116.312; height:23px;" class="dololr_text_party_star"></span>
            <span data-th-if="${party.star} >= 4 and ${party.star} < 4.5"><span class="dololr_text_party" th:value="${party.star}" th:text="${party.star}"></span>
            <img src="/app/review/star/star40.png" style="width:116.312; height:23px;" class="dololr_text_party_star"></span>
            <span data-th-if="${party.star} >= 4.5 and ${party.star} < 5"><span class="dololr_text_party" th:value="${party.star}" th:text="${party.star}"></span>
            <img src="/app/review/star/star45.png" style="width:116.312; height:23px;" class="dololr_text_party_star"></span>
            <span data-th-if="${party.star} == 5"><span class="dololr_text_party" th:value="${party.star}" th:text="${party.star}"></span>
            <img src="/app/review/star/star50.png" style="height:23px;" class="dololr_text_party_star"></span>
      <div class="container_main_party">
        <p class="dololr_text_datetime" th:text="${party.partyTime}"></p>
        <p class="dololr_text_datetime" th:text="${party.partyDate}"></p>
      </div>
    </div>
  </th:block>

</body>
</html>