<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>여기모여 인증 코드</title>
</head>

<body>
  <div>
    <div style="width: 50%; margin: auto">
      <div style="      
    color: #000;            
    height: 80px;            
    font-size: 40px;            
    font-weight: bold;            
    position: relative;            
    text-align: center;          
    ">
      </div>
      <div style="
    width:60%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image:url('https://postfiles.pstatic.net/MjAyMjExMjNfMjMg/MDAxNjY5MTM0MTYzNTYy.crGXLXOcphE_sfE0VVysoVVpGSI9obI_BUt6QzY33Q8g.4o4BTeV78cYiuEeehXMy0MR5HUk51k4kPPsXG2ubV1Eg.PNG.nunshik90/logo3.png?type=w966');
    ;"></div>



      <div>
        <p style="font-size: 25px">
          <b>안녕하세요.</b>
        </p>
        <p>귀하의 이메일 주소를 통해<br> 여기모여 계정에 대한
          액세스가 요청되었습니다. <br>
          여기모여 인증 코드는 다음과 같습니다.</p>
      </div>
      <div style="width: 100%;">
        <table style="width: 400px;">
          <!-- <tbody><tr><td>여기모여 계정</td><td>nunshik90@naver.com</td></tr> -->
          <tr>
          <br>
            <td>
              <span style="color: blue; font-weight: bold; font-size: 2em; 
                align-items: center; display: flex; " data-th-text="${checkNum}">544589</span>
            </td>
          </tr>
          <!-- </tbody> -->
        </table>
      </div>
      <div style="margin-top: 5%">
        <p>이 코드를 요청하지 않았다면 다른 사람이<br>
          여기모여 계정에 액세스하려고 시도하는 것일 수 있습니다.<br>
          누구에게도 이 코드를 전달하거나 제공하면 안 됩니다.<br>
          <br>
          감사합니다.<br></p>
        <p>
          본메일은 발신전용입니다.
        </p>
        <p>자세한 정보는 여기모여 홈페이지에서 확인할 수 있습니다.<br><br>
          Comehere Inc., 5-8th floor of 20 Samo Building, Gangnam-daero 94-gil, Gangnam-gu, Seoul</p>
      </div>
    </div>
  </div>
</body>

</html>