<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>개인정보 수정</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- bootstrap css -->
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <!-- Responsive-->
        <link rel="stylesheet" href="../css/responsive.css">
        <!-- fevicon -->
        <!-- <link rel="icon" href="../images/fevicon.png" type="image/gif" /> -->
        <!-- Scrollbar Custom CSS -->
        <!-- <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css"> -->
        <!-- Tweaks for older IEs-->
        <link rel="stylesheet"
          href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <!-- owl stylesheets -->
        <!-- <link rel="stylesheet" href="../css/owl.carousel.min.css">
        <link rel="stylesheet" href="../css/owl.theme.default.min.css">
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen"> -->
    </head>
        <body>
          <!-- header section start -->
          <div class="header_section">
            <div class="container-fluid">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="main_logo"><a href="/app"><img src="../images/logo.png"></a></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
			              <li class="nav-item"><a class="nav-link" href="../party/list">운동하기</a></li>
			              <li class="nav-item"><a class="nav-link" href="../board/main">커뮤니티</a></li>
			              <li class="nav-item"><a class="nav-link" href="#">공지사항</a></li>
                  </ul>
                  <div class="search_icon">
                    <ul>
                      <li data-th-if="${session.loginMember == null}"><a href="../auth/form" >로그인</a></li>
                      <li data-th-if="${session.loginMember != null}"><a href="../member/viewer">마이페이지</a></li>
                      <li data-th-if="${session.loginMember != null}"><a href="../auth/logout" data-th-text="${session.loginMember.name} + '(로그아웃)'">동동(로그아웃)</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <!-- header section end -->
          <!-- contact section start -->
          <div class="contact_section layout_padding">
            <div class= info>
              <ul class="infoMenu">
                <li class= "infoMenuOn"><a href="refresh:">회원 정보 변경</a></li>
                <li class= "infoMenuOn"><a href="../mypage/party-management">모임 관리</a></li>
                <li class= "infoMenuOn"><a href="../mypage/my-post">나의활동</a></li>
              </ul>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="contact_text">개인정보 수정</h1>
                  <div class="mail_sectin">
                    <form action="memberUpdate" method="post" id="updateForm">
                      <div class="join_menu">아이디</div> 
                      <input type="text" class="email-bt" data-th-value="${member.id}" name="id" id="id" readonly>
                        <div class="join_menu">이름</div>
                      <input type="text" class="email-bt" data-th-value="${member.name}" name="name" readonly>
                        <div class="join_menu">생년월일</div>
                      <input type='date' class="email-bt" data-th-value="${member.birthday}" readonly>
                          <div class="join_menu">전화번호</div>
                      <input type="text" class="phoneNumber" data-th-value="${member.tel}" name="tel" required pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" maxlength="13"><br/>
                        <div class="join_menu">이메일</div>
                      <input type="text" class="email-bt" data-th-value="${member.email}" name="email" > 
                      <!-- @
                        <input type="text" class="custom-email" placeholder="도메인 입력" name="mail_domain" id="mail_domain">
                        <select class="custom-email" id="mail_domain_select" onchange="selectChange()">
                          <option value="">직접 입력</option>
                          <option value="naver.com">naver.com</option>
                          <option value="daum.net">daum.net</option>
                          <option value="hotmail.com">hotmail.com</option>
                          <option value="nate.com">nate.com</option>
                          <option value="korea.com">korea.com</option>
                          <option value="gmail.com">gmail.com</option>
                          <option value="hanmir.com">hanmir.com</option>
                        </select><br />  -->
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">중복확인</button>
                      <div><font id="email-feedback" size="3"></font></div>
                          <div class="join_menu">닉네임</div>
                      <input type="text" class="email-bt" id= "nick" data-th-value="${member.nickname}" name="nickname">
                      <div><font id="nick-feedback" size="3"></font></div>
                          <button class="btn btn-outline-secondary" type="button" id="button-addon3">중복확인</button>
                          <div class="join_menu">비밀번호
                            <input type="password" class="email-bt" id="password" onchange="check_pw()" placeholder="비밀번호" name="password"> 
                            <div id="passwordError" class="error"></div>
                            <input type="password" class="email-bt" id="passwordCheck" onchange="check_pw()" placeholder="비밀번호 확인" name="password_check" >&nbsp;
                            <div><font id="check" size="3"></font> </div>
                          </div>
                          <div class="join_menu">관심지역 <br>
                          <select class="favorite-choice" id="favoriteRegion1" name="regionDomain" >
                          <option data-th-each="region : ${regionList}"  data-th-value="${region.no}" data-th-text="${region.sigu}"></option>
                      </select> 
                      <select class="favorite-choice" id="favoriteRegion2" name="regionDomain">
                        <option data-th-each="region : ${regionList}"  data-th-value="${region.no}" data-th-text="${region.sigu}"></option>
                      </select><br />
                      </div>
                        <div class="join_menu">관심운동</div>
                      <select class="favorite-choice" id="favoriteSports1" name="sportsDomain">
                        <option data-th-each="sports : ${sportsList}" data-th-value="${sports.no}" data-th-text="${sports.name}"></option>
                      </select> 
                      <select class="favorite-choice" id="favoriteSports2" name="sportsDomain">
                        <option data-th-each="sports : ${sportsList}" data-th-value="${sports.no}" data-th-text="${sports.name}"></option>
                      </select><br />
                      <div class="send_bt"><button type="submit">변경</button></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!-- copyright section end -->
            <!-- Javascript files-->
            <!-- <script src="js/jquery.min.js"></script> -->
            <!-- <script src="js/popper.min.js"></script> -->
            <!-- <script src="js/bootstrap.bundle.min.js"></script> -->
            <!-- <script src="js/jquery-3.0.0.min.js"></script> -->
            <!-- <script src="js/plugin.js"></script> -->
            <!-- sidebar -->
            <!-- <script src="js/jquery.mCustomScrollbar.concat.min.js"></script> -->
            <!-- <script src="js/custom.js"></script> -->
            <!-- javascript -->
            <!-- <script src="js/owl.carousel.js"></script> -->
            <!-- <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script> -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="/app/node_modules/sweetalert/dist/sweetalert.min.js"></script>
            <script>
            $(document).on("keyup", ".phoneNumber", function () {
              $(this).val(
                $(this)
                  .val()
                  .replace(/[^0-9]/g, "")
                  .replace(
                    /(^02|^0505|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/,
                    "$1-$2-$3"
                  )
                  .replace("—", "-")
              );
            });
            
            /* 관심지역 선택한 값 불러오기 시작*/
					  let memberRestion1 = [[${member.FavoriteRegion[0].Region.no}]]; // 예) 금천구의 번호
					  console.log(memberRestion1);
					
					  let regionOptionLength1 = $("#favoriteRegion1").find("option").length; // select box 안에 option 개수 조회
					
					  for (let i=0; i<regionOptionLength1; i++) {
					    let optionValue = $("#favoriteRegion1").find('option').eq(i).attr("value");
					    if(memberRestion1 == optionValue) { //
					      $("#favoriteRegion1").find('option').eq(i).attr('selected', true);
					    }
					  }
            
            let memberRestion2 = [[${member.FavoriteRegion[1].Region.no}]]; // 예) 금천구의 번호
            console.log(memberRestion2);

            let regionOptionLength2 = $("#favoriteRegion2").find("option").length; // select box 안에 option 개수 조회

            for (let i=0; i<regionOptionLength2; i++) {
              let optionValue = $("#favoriteRegion2").find('option').eq(i).attr("value");
              if(memberRestion2 == optionValue) { //
                $("#favoriteRegion2").find('option').eq(i).attr('selected', true);
              }
            }
            /* 관심지역 선택한 값 불러오기 끝*/
            
            /* 관심운동 선택한 값 불러오기 시작*/
            let memberRestion3 = [[${member.FavoriteSports[0].Sports.no}]]; // 예) 금천구의 번호
            console.log(memberRestion3);

            let sportsOptionLength1 = $("#favoriteSports1").find("option").length; // select box 안에 option 개수 조회

            for (let i=0; i<sportsOptionLength1; i++) {
              let optionValue = $("#favoriteSports1").find('option').eq(i).attr("value");
              if(memberRestion3 == optionValue) { //
                $("#favoriteSports1").find('option').eq(i).attr('selected', true);
              }
            }
            
            let memberRestion4 = [[${member.FavoriteSports[1].Sports.no}]]; // 예) 금천구의 번호
            console.log(memberRestion4);

            let sportsOptionLength2 = $("#favoriteSports2").find("option").length; // select box 안에 option 개수 조회

            for (let i=0; i<sportsOptionLength2; i++) {
              let optionValue = $("#favoriteSports2").find('option').eq(i).attr("value");
              if(memberRestion4 == optionValue) { //
                $("#favoriteSports2").find('option').eq(i).attr('selected', true);
              }
            }
            /* 관심운동 선택한 값 불러오기 끝*/
            
            /* 이메일 중복체크 */
            $('#button-addon2').click(function(){
              let email = $('#email').val();
              
              $.ajax({
                url : '/app/member/duplicationEmailCheck',
                type : "post",
                data : {email : email},
                dataType : 'json',
                success : function(result) { 
                  if(result == 1) {
                    $("#email-feedback").html('이미 사용 중인 이메일입니다.');
                    $("#email-feedback").attr('color', 'red');
                  } else {
                    $("#email-feedback").html('사용할 수 있는 이메일입니다.');
                    $("#email-feedback").attr('color', 'green');
                  }
                }
              })
            })
             
            /* 닉네임 중복체크 */
            $('#button-addon3').click(function(){
              let nick = $('#nick').val();
              
              $.ajax({
                url : '/app/member/duplicationNickCheck',
                type : "post",
                data : {nickname : nick},
                dataType : 'json',
                success : function(result) { 
                  if(result == 1) {
                    $("#nick-feedback").html('이미 사용 중인 닉네임입니다.');
                    $("#nick-feedback").attr('color', 'red');
                  } else {
                    $("#nick-feedback").html('사용할 수 있는 닉네임입니다.');
                    $("#nick-feedback").attr('color', 'green');
                  }
                }
              })
            })
            
            /* 비밀번호 체크 */
            function check_pw(){
              var pw = document.getElementById('password').value;
              /* var SC = ["!","@","#","$","%"];
              var check_SC = 0; */
   
              if(pw.length < 4 || pw.length>16){
                  window.alert('비밀번호는 4글자 이상, 16글자 이하만 이용 가능합니다.');
                  document.getElementById('password').value='';
              }
              /* for(var i=0;i<SC.length;i++){
                  if(pw.indexOf(SC[i]) != -1){
                      check_SC = 1;
                  }
              }
              if(check_SC == 0){
                  window.alert('!,@,#,$,% 의 특수문자가 들어가 있지 않습니다.')
                  document.getElementById('password').value='';
              } */
              if(document.getElementById('password').value !='' && document.getElementById('passwordCheck').value!=''){
                  if(document.getElementById('password').value==document.getElementById('passwordCheck').value){
                      document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
                      document.getElementById('check').style.color='green';
                  }
                  else{
                      document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
                      document.getElementById('check').style.color='red';
                  }
              }
          }
            </script>
        </body>

</html>
